<h1><%= t ".teams" %></h1>
<%= search_form_for @search, class: "form-inline" do |f| %>
  <div class="form-group search-name">
    <%= f.text_field :name_or_full_name_or_nickname_or_short_name_cont,
      class: "form-control", placeholder: t(".search_by_name") %>
  </div>
  <div class="form-group search-country">
    <%= f.select :country_id_eq, options_for_select(@countries, @search.country_id_eq),
      {include_blank: t(".select_country")}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.button class: "btn btn-primary no-radius" do %>
      <span class="glyphicon glyphicon-search"></span>
      <span><%= t ".search" %></span>
    <% end %>
  </div>
<% end %>
<% if @teams.any? %>
  <%= paginate @teams %>
  <table class="table table-striped table-bordered table-teams not-overflow">
    <thead>
      <th class="header-logo"><%= t ".logo" %></th>
      <th class="header-name"><%= t ".name" %></th>
      <th class="header-flag center"><%= t ".flag" %></th>
      <th class="header-country"><%= t ".country" %></th>
      <th class="header-coach"><%= t ".coach" %></th>
      <th class="header-players"><%= t ".players" %></th>
    </thead>
    <tbody>
      <% @teams.each_with_index do |team, index| %>
        <tr>
          <td class="center"><%= image_tag team.logo.small.url %></td>
          <td><%= link_to team.name, team %></td>
          <td class="center">
            <%= image_tag team.country.flag.url, size: Settings.country.size_small %>
          </td>
          <td><%= team.country_name %></td>
          <td><%= team.coach %></td>
          <td class="center"><%= team.players.size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @teams %>
<% else %>
  <div class="no-result"><%= t ".no_team" %></div>
<% end %>
