<table id="rank-table" class="table table-striped table-bordered">
  <thead>
    <th class="stats"><%= t ".rank" %></th>
    <th><%= t ".team_name" %></th>
    <%= Team.header_for_stats :total_matches, :win_matches, :draw_matches,
      :lose_matches, :goals, :lose_goals, :offset, :score %>
  </thead>
  <tbody>
    <% @rank.each_with_index do |team| %>
      <tr>
        <td class="rank stats"><%= team.rank %></td>
        <td>
          <%= image_tag team.logo.url, size: Settings.team.logo_size_tiny,
            class: "tiny-logo-with-team" %>
          <%= link_to team.name, team %>
        </td>
        <%= team.bind_stats :total_matches, :win_matches, :draw_matches,
          :lose_matches, :goals, :lose_goals, :offset, :score %>
      </tr>
    <% end %>
  </tbody>
</table>
