<table id="table-schedule" class="table">
  <% @schedule.each do |date, schedule| %>
    <tr>
      <td colspan="5" class="start-date">
        <%= t ".date" %>
        <%= date.strftime Settings.format.date %>
      </td>
    </tr>
    <% schedule.each do |match| %>
      <tr>
        <td class="start-time center">
          <% if match.finished? %>
            <%= t ".ft" %>
          <% elsif match.is_on? %>
            <%= t ".is_on" %>
          <% end %>
        </td>
        <td class="team1 right">
          <%= link_to match.team1.name, match.team1 %>
          <%= image_tag match.team1.logo.url, size: Settings.team.logo_size_tiny,
            class: "tiny-logo-with-team" %>
        </td>
        <td class="result center">
          <%= link_to match, class: "link-to-match" do %>
            <% if match.not_started_yet? %>
              <%= match.start_time.strftime Settings.format.time24 %>
            <% else %>
              <span class="goals-team1"><%= match.team1_goal %></span>-
              <span class="goals-team2"><%= match.team2_goal %></span>
            <% end %>
          <% end %>
        <td class="team2">
          <%= image_tag match.team2.logo.url, size: Settings.team.logo_size_tiny,
            class: "tiny-logo-with-team" %>
          <%= link_to match.team2.name, match.team2 %>
        </td>
        <td class="action center">
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
<% if @schedule.empty? %>
  <div class="no-result"><%= t ".no_match" %></div>
<% end %>
