<h1 class="center"><%= t "news_management" %></h1>
<hr>
<div class="news-header">
  <%= link_to new_admin_news_path, class: "btn btn-primary no-radius pull-left" do %>
    <span class="glyphicon glyphicon-plus"></span>
    <span><%= t ".create_news" %></span>
  <% end %>
  <%= search_form_for [:admin, @q], class: "form-inline search-form" do |f| %>
    <div class="form-group search-title">
      <%= f.search_field :title_or_content_or_brief_description_cont,
        placeholder: t(".title_contains"), class: "form-control" %>
    </div>
    <div class="form-group search-type">
      <%= f.select :news_type_id_eq, options_for_select(@news_types, @q.news_type_id_eq),
        {include_blank: t(".all_news_types")}, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.button class: "btn btn-primary no-radius" do %>
        <span class="glyphicon glyphicon-search"></span>
      <% end %>
    </div>
  <% end %>
</div>

<div class="news">
  <table id="news-manager" class="table table-bordered table-striped manager">
    <thead>
      <th class="serial center">#</th>
      <th class="title"><%= sort_link @q, :title %></th>
      <th class="create-time"><%= sort_link @q, :created_at %></th>
      <th class="type"><%= t ".header_type" %></th>
      <th class="comments"><%= sort_link @q, :comments_count, t(".comments") %></th>
      <th class="action"><%= t ".header_action" %></th>
    </thead>
    <tbody>
      <% @news.each_with_index do |news, index| %>
        <tr>
          <td class="serial right">
            <%= index + 1 + (@news.current_page - 1) * Settings.news.per_page %>
          </td>
          <td class="title">
            <%= link_to news.title, news, title: news.title,
              data: {toggle: "tooltip"} %>
          </td>
          <td><%= news.created_at.strftime Settings.format.date_time %></td>
          <td><%= news.news_type_name %></td>
          <td class="comments right"><%= news.comments.count %></td>
          <td class="action">
            <%= link_to "", edit_admin_news_path(news), title: t(".edit_tip"),
              data: {toggle: "tooltip"},
              class: "glyphicon glyphicon-edit" %>
            <%= link_to "", admin_news_path(news), method: :delete,
              title: t(".delete_tip"),
              data: {toggle: "tooltip", confirm: t(".confirm_delete")},
              class: "glyphicon glyphicon-trash" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @news%>
  <% if @news.empty? %>
    <div class="no-result"><%= t ".no_news" %></div>
  <% end %>
</div>

