<div class="team-heading row center">
  <div class="team1 col-sm-4">
    <%= link_to @match.team1 do %>
      <%= image_tag @match.team1.logo.logo_title.url %>
    <% end %>
    <p><%= link_to @match.team1.name, @match.team1 %></p>
  </div>
  <div class="image col-sm-3">
    <% if @match.errors.blank? %>
      <p class="label label-<%= @match.label_for_status %>">
        <strong><%= t ".#{@match.status}" %></strong>
      </p>
    <% end %>
    <br>
    <%= image_tag Settings.match.ball_img, size: Settings.match.ball_size %>
  </div>
  <div class="team2 col-sm-4">
    <%= link_to @match.team2 do %>
      <%= image_tag @match.team2.logo.logo_title.url %>
    <% end %>
    <p><%= link_to @match.team2.name, @match.team2 %></p>
  </div>
  <div class="clearfix"></div>
  <div id="start-time">
    <strong>
      <%= t(".start_at") + ": " %>
      <%= @match.start_time.strftime Settings.format.date_time %>
    </strong>
  </div>
</div>
<div class="form center">
  <%= form_for [:admin, @match] do |f| %>
    <%= render "shared/error_messages", object: @match %>
    <div class="form-inline start-time">
      <%= f.label :start_time %>
      <%  unless @match.not_started_yet? %>
        <%= f.datetime_local_field :start_time, disabled: true,
          class: "form-control center" %>
      <% else %>
        <%= f.datetime_local_field :start_time, class: "form-control center" %>
      <% end %>
    </div>

    <% if @match.finished? && @match.valid? %>
      <div class="goals">
        <div class="team1-goals">
          <%= f.number_field :team1_goal, step: 1, min: 0,
            value: @match.team1_goal, disabled: true, class: "form-control" %>
        </div>
        <div id="space">-</div>
        <div class="team2-goals">
          <%= f.number_field :team2_goal, step: 1, min: 0,
            value: @match.team1_goal, disabled: true, class: "form-control" %>
        </div>
      </div>
    <% elsif @match.is_on? %>
      <div class="goals">
        <div class="team1-goals">
          <%= f.number_field :team1_goal, step: 1, min: 0,
            value: @match.team1_goal, class: "form-control" %>
        </div>
        <div id="space">-</div>
        <div class="team2-goals">
          <%= f.number_field :team2_goal, step: 1, min: 0,
            value: @match.team1_goal, class: "form-control" %>
        </div>
      </div>
    <% else %>
      <div class="goals hidden">
        <div class="team1-goals">
          <%= f.number_field :team1_goal, step: 1, min: 0,
            value: @match.team1_goal, class: "form-control",
            placeholder: "-" %>
        </div>
        <div id="space">-</div>
        <div class="team2-goals">
          <%= f.number_field :team2_goal, step: 1, min: 0,
            value: @match.team1_goal, class: "form-control",
            placeholder: "-" %>
        </div>
      </div>
    <% end %>

    <% if @match.is_on? || @match.finished? || @match.user_bets.any? %>
      <div class="odds">
        <label><%= t ".odds" %></label>
        <table class="table table-bordered table-striped">
          <tr class="table-head">
            <td><strong><%= t ".team1_odds" %></strong></td>
            <td><strong><%= t ".draw_odds" %></strong></td>
            <td><strong><%= t ".team2_odds" %></strong></td>
          </tr>
          <tr>
            <td>
              <%= @match.team1_odds %>
            </td>
            <td>
              <%= @match.draw_odds %>
            </td>
            <td><%= @match.team2_odds %></td>
          </tr>
        </table>
      </div>
    <% else %>
      <div class="odds">
        <label><%= t ".odds" %></label>
        <table class="table table-bordered table-striped">
          <tr class="table-head">
            <td><strong><%= t ".team1_odds" %></strong></td>
            <td><strong><%= t ".draw_odds" %></strong></td>
            <td><strong><%= t ".team2_odds" %></strong></td>
          </tr>
          <tr>
            <td>
              <%= f.number_field :team1_odds, step: 0.1, min: 0, max:20,
                class: "form-control odds", placeholder: t(".team1_odds") %>
            </td>
            <td>
              <%= f.number_field :draw_odds, min: 0, step: 0.1, max:20,
                class: "form-control odds draw-odds", placeholder: t(".draw_odds") %>
            </td>
            <td><%= f.number_field :team2_odds, step: 0.1, min: 0, max:20,
            class: "form-control odds", placeholder: t(".team2_odds") %></td>
          </tr>
        </table>
      </div>
    <% end %>
    <% unless @match.finished? && @match.valid? %>
      <div class="submit">
        <%= f.submit t(".save"), class: "btn btn-primary form-control" %>
      </div>
    <% end %>
  <% end %>
</div>
