<% provide :title, @news.title %>
<div>
  <section id="news-section">
    <header class="news-title">
      <h2><%= @news.title %></h2>
    </header>
    <div class="news-time">
      <span class="glyphicon glyphicon-time"></span>
      <%= @news.updated_at.strftime Settings.format.date_time %>
    </div>
    <div class="news-summary">
      <%= @news.brief_description %>
    </div>
    <div>
      <%= social_share_button_tag(@news.title, url: "lvh.me:3000/news/#{@news.id}") %>
    </div>
    <div class="news-body">
      <%= @news.content.html_safe %>
    </div>
    <div class="news-author">
      <%= @news.author %>
    </div>
  </section>
  <div class="hot-news pull-right">
    <h3><%= t "hot_news" %></h3>
    <ul class="list-hot-news">
      <% @hot_news.each do |news| %>
        <li>
          &#8227;
          <%= link_to news.title, news, class: "link-title" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<section id="comments-section">
  <% if user_signed_in? %>
    <div id="new-comment">
      <%= image_tag current_user.avatar.small.url %>
      <span class="user-name"><%= current_user.name %></span>
      <%= form_for @comment do |f| %>
        <div class="form-group new-content">
          <%= f.text_area :content, placeholder: t(".comment_invite") %>
        </div>
        <%= f.submit t(".comment_button"), class: "btn btn-primary",
          id: "create-new-comment" %>
      <% end %>
    </div>
  <% else %>
    <div id="login-invite">
      <%= link_to t(".login_to_comment"), new_user_session_path %>
    </div>
  <% end %>
  <div class="comment-stats">
    <span class="glyphicon glyphicon-comment"></span>
    <strong>
      <%= t".comments" %>
      (<span id="count-comments"><%= @comments.count %></span>)
    </strong>
  </div>
  <ol id="comments">
    <%= render @comments %>
  </ol>
</section>
