<div class="show-bet-user center">
  <div class="heading">
    <h1><%= t ".your_bet" %></h1>
  </div>
  <div class="list-bet-user">
    <table class="table table-striped table-bordered">
      <thead>
        <th class="index-user-bet center"><%= t ".index" %></th>
        <th class="match-user-bet center"><%= t ".match" %></th>
        <th class="chosen-user-bet center"><%= t ".chosen" %></th>
        <th class="coin-user-bet center"><%= t ".coin" %></th>
      </thead>
      <tbody>
        <% @user_bets.each_with_index do |user_bet, index| %>
          <tr>
            <td><%= index %></td>
            <td><%= user_bet.match.team1.name %> vs <%= user_bet.match.team2.name %></td>
            <td><%= user_bet.chosen %></td>
            <td><%= user_bet.coin %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
