<div class="show-all-countries">
  <div class="heading">
    <h1 class="center"><%= t ".manage_country" %></h1>
  </div>
  <hr>
  <div class="create-country">
    <%= link_to t(".new_country"), new_admin_country_path, class: "btn btn-primary" %>
    <div class="search form-inline">
      <%= search_form_for [:admin, @search] do |f| %>
        <div class="form-group content">
          <%= f.text_field :name_or_code_cont, class: "form-control",
            placeholder: t(".content") %>
        </div>

        <div class="form-group">
          <%= f.button class: "btn btn-primary no-radius" do %>
            <span class="glyphicon glyphicon-search"></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <th class="index center"><%= t ".index" %></th>
      <th class="flag center"><%= t ".flag" %></th>
      <th class="name"><%= t ".name" %></th>
      <th class="league center"><%= t ".league" %></th>
      <th class="league-season center"><%= t "league_season" %></th>
      <th class="players center"><%= t ".player" %></th>
    </thead>
    <tbody>
      <% @countries.each_with_index do |country, index| %>
        <tr>
          <td class="center">
            <%= Settings.country.per_page * (@countries.current_page - 1) + index + 1 %>
          </td>
          <td class="center">
            <%= image_tag country.flag.url, size: Settings.country.size_tiny %>
          </td>
          <td class="name"><%= country.name %></td>
          <td class="center"><%= country.leagues.count %></td>
          <td class="center"><%= country.league_seasons.count %></td>
          <td class="center"><%= country.players.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @countries %>
</div>
