<h1><%= @player.name %></h1>
<div id="player-profile">
  <div id="player-info">
    <%= image_tag @player.avatar.medium.url %>
    <table class="table-info-template">
      <% [:date_of_birth, :country_name, :team_name, :height, :weight, :position].each do |attribute| %>
        <tr>
          <td class="attribute"><%= t "." + attribute.to_s %></td>
          <td class="value" %>
            <% if attribute == :team_name && @player.team_name %>
              <%= link_to @player.team_name, @player.team %>
            <% else %>
              <%= @player.send(attribute) || "-" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div id="player-content">

    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#introduction"><%= t ".introduction" %></a>
      </li>
      <li><a data-toggle="tab" href="#awards"><%= t ".awards" %></a></li>
      <li><a data-toggle="tab" href="#team-mates"><%= t ".team_mates" %></a></li>
    </ul>

    <div class="tab-content">
      <div id="introduction" class="tab-pane fade in active">
        <% if @player.introduction.present? %>
          <%= @player.introduction.gsub("\n", "<br/>").html_safe %>
        <% else %>
          <div class="no-result"><%= t ".no_introduction" %></div>
        <% end %>
      </div>
      <div id="awards" class="tab-pane fade">
      </div>
      <div id="team-mates" class="tab-pane fade">
      </div>
    </div>
  </div>
</div>
