  <% provide :title, @match.team1.name + " - " + @match.team2.name %>
<section id="match-section">
  <p id="league-name">
    <%= @match.league_season.name + " " + @match.league_season.year.to_s %>
  </p>
  <div id="match-info" class="well">
    <div class="team">
      <%= link_to @match.team1 do %>
        <%= image_tag @match.team1.logo.medium.url %>
      <% end %>
      <p><%= link_to @match.team1.name, @match.team1 %></p>
    </div>
    <div id="info">
      <span class="goals"><%= @match.team1_goal || "1" %></span>
      <span>:</span>
      <span class="goals"><%= @match.team2_goal || "2" %></span>
      <br/>
      <p class="label label-<%= @match.label_for_status %>">
        <%= t ".#{@match.status}" %>
      </p>
    </div>
    <div class="team">
      <%= link_to @match.team2 do %>
        <%= image_tag @match.team2.logo.medium.url %>
      <% end %>
      <p><%= link_to @match.team2.name, @match.team2 %></p>
    </div>
    <div id="start-time">
      <%= t(".start_at") + ": " %>
      <%= @match.start_time.strftime Settings.format.date_time %>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#bet-odds"><%= t ".bet_odds" %></a>
    </li>
    <li>
      <a data-toggle="tab" href="#match-events"><%= t ".match_events" %></a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="bet-odds" class="tab-pane fade in active">
      <table class="table table-bordered">
        <thead>
          <th><%= @match.team1.name + " " + t(".win") %></th>
          <th><%= t ".draw" %></th>
          <th><%= @match.team2.name + " " + t(".win") %></th>
        </thead>
        <tbody id="team-odds">
          <tr>
            <td><%= @match.team1_odds %></td>
            <td><%= @match.draw_odds %></td>
            <td><%= @match.team2_odds %></td>
          </tr>
      </table>
      <% if user_signed_in? && @match.start_time > Time.zone.now %>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#betModal">
          <%= t ".make_a_bet" %>
        </button>
        <div class="modal fade" id="betModal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="center"><%= t ".make_your_bet" %></h3>
              </div>
              <div id="user-bet">
                <%= form_for @user_bet, remote: true do |f| %>
                  <div class="user-bet-errors"></div>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :match_id, value: @match.id %>
                  <div class="chosen">
                    <div class="form-group team1">
                      <%= f.radio_button :chosen, :team1 %>
                      <label><%= @match.team1.name %><%= t ".win" %></label>
                    </div>
                    <div class="form-group draw">
                      <%= f.radio_button :chosen, :draw %>
                      <label><%= t ".draw" %></label>
                    </div>
                    <div class="form-group team2">
                      <%= f.radio_button :chosen, :team2 %>
                      <label><%= @match.team2.name %><%= t ".win" %></label>
                    </div>
                  </div>
                  <div class="form-group form-inline">
                    <%= f.label :coin %>
                    <%= f.number_field :coin, min: 0, class: "form-control bet-coin" %>
                  </div>
                  <div class="form-inline modal-footer center">
                    <%= f.submit t(".ok"), class: "btn btn-primary form-control" %>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                      <%= t ".close" %>
                    </button>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div id="match-events" class="tab-pane fade">
      <% if @match.not_started_yet? %>
        <p><%= t ".inform_match_not_started_yet" %></p>
      <% else %>
        <table class="table table-striped table-bordered">
          <thead>
            <th id="header-time"><%= t ".header_time" %></th>
            <th id="header-event"><%= t ".header_events" %></th>
          </thead>
          <tbody>
            <% @match.match_events.each do |event| %>
              <tr>
                <td class="time"><%= event.time %></td>
                <td class="event"><%= event.content %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</section>
