<%=  form_for [:admin, @league, @league_season] do |f| %>
  <div class="col-md-12">
    <%= render "shared/error_messages", object: f.object %>
  </div>
  <div class="col-md-6">
    <div class="pull-right form-inline">
      <label><%= t ".season", league: @league.name %></label>
      <%= f.select :year, @years, {},
        {class: "form-control", style: "width: 200px"} %>
    </div>
  </div>
  <div class="col-md-6">
    <%= f.fields_for :season_teams do |builder| %>
      <%= render "season_team_fields", f: builder %>
    <% end %>
    <%= link_to_add_fields t(".add_season_teams"), f, :season_teams %>
  </div>
  <div class="clearfix"></div>
  <div class="center"><%= f.submit t(".new"), class: "btn btn-primary" %></div>
<% end %>
