<div class="panel panel-heading">
  <h1 class="league-head center"><%= @league.name %></h1>
</div>
<% if @league.league_seasons.any? %>
  <div class="col-md-6 col-md-offset-3">
    <h2 class="current-league center"><%= t ".current_league" %></h2>
    <h1 class="center">
      <%= @league_seasons.first.name %>
    </h1>
  </div>
  <div class="col-md-3">
    <strong class="league-season"><%= t ".league_season" %></strong>
    <ul class="list-group">
      <% @league_seasons.each do |league_season| %>
        <li class="list-group-item">
          <%= league_season.name %>
          <%= link_to t(".view_league_season"),
            admin_league_league_season_path(@league, league_season),
            class: "btn btn-primary pull-right btn-xs" %>
        </li>
      <% end %>
    </ul>
    <%= paginate @league_seasons %>
    <div>
      <%= link_to t(".new"), new_admin_league_league_season_path(@league),
        class: "btn btn-xs btn-primary" %>
    </div>
  </div>
<% else %>
  <div class="col-md-6 col-md-offset-3">
    <strong><%= t ".no_league_season" %></strong>
  </div>
<% end %>
<div class="clearfix"></div>
