<h1><%= t "views.admin.user.index.list_all_users" %></h1>
<table class="table table-hover">
  <tr>
    <th><%= t "views.admin.user.index.stt" %></th>
    <th><%= t "views.admin.user.index.avatar" %></th>
    <th><%= t "views.admin.user.index.name" %></th>
    <th><%= t "views.admin.user.index.email" %></th>
  </tr>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td>
          <% if user.avatar.present? %>
            <%= link_to image_tag(user.avatar, size: Settings.admin.size),
              admin_users_path %>
          <% else %>
            <%= link_to image_tag(Settings.admin.url,
              size: Settings.admin.size), admin_users_path %>
          <% end %>
        </td>
        <td> <%= user.name %> </td>
        <td> <%= user.email %> </td>
      </tr>
    <% end %>
</table>
<%= paginate @users %>
