<%= form_for [:admin, @team], html: {class: "form-horizontal"} do |f| %>
  <%= render "shared/error_messages", object: @team %>
  <div class="form-group">
    <%= f.label :name, class: "control-label col-sm-2" %>
    <div class="col-sm-5">
      <%= f.text_field :name, class: "form-control", placeholder: :name %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :logo, class: "control-label col-sm-2" %>
    <div class="col-sm-5">
      <% if @team.logo.size > 0 %>
        <%= image_tag @team.logo.url, size: Settings.team.preview_logo_size,
          id: "image-view" %>
      <% else %>
        <%= image_tag "", size: Settings.team.preview_logo_size, id: "image-view",
          class: "hidden" %>
      <% end %>
      <%= f.file_field :logo, accept: "image/jpeg,image/gif,image/png", class: "upload-image" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :full_name, class: "control-label col-sm-2" %>
    <div class="col-sm-5">
      <%= f.text_field :full_name, class: "form-control", placeholder: :full_name %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nickname, class: "control-label col-sm-2" %>
    <div class="col-sm-5">
      <%= f.text_field :nickname, class: "form-control", placeholder: :nickname %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :short_name, class: "control-label col-sm-2" %>
    <div class="col-sm-5">
      <%= f.text_field :short_name, class: "form-control", placeholder: :short_name %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :country_id, class: "control-label col-sm-2" %>
    <div class="col-sm-5">
      <%= f.select :country_id, options_for_select(@countries, @team.country_id),
        {include_blank: t(".select_country")}, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :coach, class: "control-label col-sm-2" %>
    <div class="col-sm-5">
      <%= f.text_field :coach, class: "form-control", placeholder: :coach %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :introduction, class: "control-label col-sm-2" %>
    <div class="col-sm-8">
      <%= f.text_area :introduction, class: "form-control", placeholder: :introduction %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <%= f.submit yield: :summit_button, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
