<h1><%= t ".teams_manager" %></h1>
<div class="pull-right">
  <%= link_to new_admin_team_path, class: "btn btn-primary no-radius" do %>
    <span class="glyphicon glyphicon-plus"></span>
    <span><%= t ".create_team" %></span>
  <% end %>
</div>
<%= search_form_for [:admin, @search], class: "form-inline" do |f| %>
  <div class="form-group search-name">
    <%= f.text_field :name_or_full_name_or_nickname_or_short_name_cont,
      class: "form-control", placeholder: t(".search_by_name") %>
  </div>
  <div class="form-group search-country">
    <%= f.select :country_id_eq, options_for_select(@countries, @search.country_id_eq),
      {include_blank: t(".select_country")}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.button class: "btn btn-primary no-radius" do %>
      <span class="glyphicon glyphicon-search"></span>
      <span><%= t ".search" %></span>
    <% end %>
  </div>
<% end %>
<div id="count-teams">
  <%= t ".total_teams" %>: <%= @count_teams %>
</div>
<%= paginate @teams %>
<table class="table table-striped table-bordered table-manager-teams not-overflow">
  <thead>
    <th class="header-index center">#</th>
    <th class="header-logo"><%= t ".logo" %></th>
    <th class="header-name"><%= t ".name" %></th>
    <th class="header-flag"><%= t ".flag" %></th>
    <th class="header-country"><%= t ".country" %></th>
    <th class="header-coach"><%= t ".coach" %></th>
    <th class="header-players"><%= t ".players" %></th>
    <th class="header-action"><%= t ".action" %></th>
  </thead>
  <tbody>
    <% @teams.each_with_index do |team, index| %>
      <tr>
        <td class="center"><%= index + 1 %></td>
        <td class="center"><%= image_tag team.logo.small.url %></td>
        <td><%= team.name %></td>
        <td class="center"></td>
        <td><%= team.country_name %></td>
        <td><%= team.coach %></td>
        <td class="center"><%= team.players.size %></td>
        <td class="center">
          <%= link_to "#", title: t(".add_players"), data: {toggle: "tooltip"} do %>
            <span class="glyphicon glyphicon-user"></span>
          <% end %>
          <%= link_to edit_admin_team_path(team), title: t(".edit_team") do%>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
          <%= link_to admin_team_path(team), method: :delete, title: t(".delete_team"),
            data: {confirm: t(".confirm_delete", team: team.name)} do%>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @teams %>
