<h1><%= @team.name %></h1>
<div id="current-team-squad">
  <h3><%= t ".current_squad" %></h3>
  <% if @players_of_team.any? %>
    <table class="table table-striped table-bordered manager-team-players not-overflow">
      <thead>
        <th class="header-avatar"><%= t ".avatar" %></th>
        <th class="header-squad-number">#<%= t ".squad" %></th>
        <th class="header-name"><%= t ".name" %></th>
        <th class="header-age"><%= t ".age" %></th>
        <th class="header-flag"><%= t ".flag" %></th>
        <th class="header-country"><%= t ".country" %></th>
        <th class="header-position"><%= t ".position" %></th>
        <th class="header-joined-date"><%= t ".joined-date" %></th>
        <th class="action"><%= t ".action" %></th>
      </thead>
      <tbody>
        <% @players_of_team.each do |player| %>
          <tr>
            <td class="center"><%= image_tag player.avatar.small.url %></td>
            <td class="center squad-number"><%= player.squad_number %></td>
            <td title="<%= player.name %>" data-toggle="tooltip"><%= player.name %></td>
            <td class="center"><%= player.age %></td>
            <td class="center">
              <%= image_tag player.country.flag.url, size: Settings.country.size_small %>
            </td>
            <td><%= player.country_name %></td>
            <td><%= player.position %></td>
            <td class="center"><%= player.joined_at %></td>
            <td class="center">
              <%= render "edit_form", player: player %>
              <%= link_to admin_player_assign_players_url(player), title: t(".remove_player"),
                method: :delete,
                data: {confirm: t(".confirm_remove_player", player: player.name)} do%>
                <span class="glyphicon glyphicon-share-alt"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="no-result"><%= t ".no_player" %></div>
  <% end %>
</div>

<div id="transfer-team-players">
  <h3><%= t ".transfer-team-players" %></h3>
  <%= search_form_for @search, url: admin_team_assign_players_url(team_id: @team.id),
    class: "form-inline" do |f| %>
    <div class="form-group">
      <%= f.text_field :name_cont, placeholder: t(".search_name"), class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.select :position_eq, options_for_select(Player.positions, @search.position_eq),
        {include_blank: t(".select_position")}, class: "form-control" %>
    </div>
    <div class="form-group search-country">
      <%= f.select :country_id_eq, options_for_select(@countries, @search.country_id_eq),
        {include_blank: t(".select_country")}, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.button class: "btn btn-primary no-radius" do %>
        <span class="glyphicon glyphicon-search"></span>
      <% end %>
    </div>
  <% end %>

  <% if @players.any? %>
    <table class="table table-striped table-bordered not-overflow">
      <thead>
        <th class="header-index center">#</th>
        <th class="header-avatar"><%= t ".avatar" %></th>
        <th class="header-name"><%= t ".name" %></th>
        <th class="header-age"><%= t ".age" %></th>
        <th class="header-height"><%= t ".height" %></th>
        <th class="header-weight"><%= t ".weight" %></th>
        <th class="header-flag"><%= t ".flag" %></th>
        <th class="header-country"><%= t ".country_name" %></th>
        <th class="header-position"><%= t ".position" %></th>
        <th class="header-action"><%= t ".action" %></th>
      </thead>
      <tbody>
        <% @players.each_with_index do |player, index| %>
          <tr>
            <td class="center">
              <%= Settings.players.per_page * (@players.current_page - 1) + index + 1 %>
            </td>
            <td class="center"><%= image_tag player.avatar.small.url %></td>
            <td><%= link_to player.name, player, title: player.name %></td>
            <td class="center"><%= player.age %></td>
            <td><%= player.height || "-" %></th>
            <td><%= player.weight || "-" %></th>
            <td class="center">
              <%= image_tag player.country.flag.url, size: Settings.country.size_small %>
            </td>
            <td title="<%= player.country_name %>"><%= player.country_name %></td>
            <td><%= player.position %></td>
            <td class="center">
              <%= render "new_form", player: player %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @players %>
  <% else %>
    <div class="no-result"><%= t ".no_player" %></div>
  <% end %>
</div>
