<h1 class="center"><%= t ".team_players_management" %></h1>
<hr>
<h3><%= t ".team" %>: <%= @team.name %></h3>
<%= link_to new_admin_team_assign_players_url(team_id: @team.id),
  class: "btn btn-primary no-radius add-team-players" do %>
  <span class="glyphicon glyphicon-plus"></span>
  <span><%= t ".add_player_to_this_team" %></span>
<% end %>
<div id="current-team-squad">
  <% if @players.empty? %>
    <div class="no-result"><%= t ".no_player_in_team" %></div>
  <% else %>
    <table class="table table-striped table-bordered manager-team-players not-overflow">
      <thead>
        <th class="header-avatar"><%= t ".avatar" %></th>
        <th class="header-squad-number">#<%= t ".squad" %></th>
        <th class="header-name"><%= t ".name" %></th>
        <th class="header-age"><%= t ".age" %></th>
        <th class="header-flag"><%= t ".flag" %></th>
        <th class="header-country"><%= t ".country" %></th>
        <th class="header-position"><%= t ".position" %></th>
        <th class="header-joined-date"><%= t ".joined" %></th>
        <th class="action"><%= t ".action" %></th>
      </thead>
      <tbody>
        <% @players.each do |player| %>
          <tr>
            <td class="center"><%= image_tag player.avatar.small.url %></td>
            <td class="center squad-number"><%= player.squad_number %></td>
            <td title="<%= player.name %>" data-toggle="tooltip"><%= player.name %></td>
            <td class="center"><%= player.age %></td>
            <td class="center">
              <%= image_tag player.country.flag.url, size: Settings.country.size_small %>
            </td>
            <td><%= player.country_name %></td>
            <td><%= player.position %></td>
            <td class="center"><%= player.joined_at %></td>
            <td class="center">
              <%= render "edit_form", player: player %>
              <%= link_to admin_player_assign_players_url(player), title: t(".remove_player"),
                method: :delete,
                data: {confirm: t(".confirm_remove_player", player: player.name)} do%>
                <span class="glyphicon glyphicon-share-alt"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
