
<%= search_form_for @search, url: daily_schedules_path,
  class: "form-inline search-form" do |f| %>
  <div class="form-group">
    <%= f.date_field :start_time_date_equals, class: "form-control", required: true %>
  </div>
  <div class="form-group">
    <%= f.button class: "btn btn-primary no-radius" do %>
      <span class="glyphicon glyphicon-search"></span>
    <% end %>
  </div>
<% end %>
<h3>
  <% if @search.start_time_date_equals %>
    <span class="glyphicon glyphicon-calendar"></span>
    <%= t ".schedule_on" %>
    <%= @search.start_time_date_equals.to_date.strftime Settings.format.date %>
  <% else %>
    <%= t ".select_a_day_to_view_schedule" %>
  <% end %>
</h3>
<% if @matches && @matches.any? %>
  <table id="daily-schedule" class="table table-striped table-bordered" %>
    <% @matches.each do |league_season, matches| %>
      <tr>
        <td colspan="5" class="league-season">
          <span class="glyphicon glyphicon-tower"></span>
          <%= league_season.league.name + " " + league_season.year.to_s %>
        </td>
      </tr>
      <% matches.each do |match| %>
        <tr>
          <td class="start-time center">
            <%= match.start_time.strftime Settings.format.time %>
          </td>
          <td class="team1 right">
            <%= link_to match.team1.name, match.team1 %>
            <%= image_tag match.team1.logo.url, size: Settings.team.logo_size_tiny,
              class: "tiny-logo-with-team" %>
          </td>
          <td class="result center">
            <span class="goals-team1"><%= match.team1_goal || "-" %></span>:
            <span class="goals-team2"><%= match.team2_goal || "-" %></span>
            <br>
          <td class="team2">
            <%= image_tag match.team2.logo.url, size: Settings.team.logo_size_tiny,
              class: "tiny-logo-with-team" %>
            <%= link_to match.team2.name, match.team2 %>
          </td>
          <td class="action center">
            <%= link_to match, title: "Match detail", data: {toggle: "tooltip"} do %>
              <span class="glyphicon glyphicon-play-circle"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% else %>
  <div class="no-result"><%= t ".no_match" %></div>
<% end %>

