<div id="daily-schedules-container">
  <div id="daily-schedules-header">
    <div id="title">
      <h3>
        <span class="glyphicon glyphicon-calendar"></span>
        <%= t ".schedule" %>
      </h3>
    </div>
    <div id="search-matches-form" class="pull-right">
      <%= search_form_for @search, url: daily_schedules_path,
        class: "form-inline" do |f| %>
        <div class="form-group">
          <%= f.date_field :start_time_date_equals, class: "form-control", required: true,
            value: @search.start_time_date_equals.to_date.strftime(Settings.format.date_input) %>
        </div>
        <div class="form-group">
          <%= f.button class: "btn btn-primary no-radius" do %>
            <span class="glyphicon glyphicon-search"></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <% if @matches && @matches.any? %>
    <table id="daily-schedule" class="table" %>
      <% @matches.each do |league_season, matches| %>
        <tr>
          <td colspan="5" class="league-season">
            <span class="glyphicon glyphicon-tower"></span>
            <%= league_season.league.name + " " + league_season.year.to_s %>
          </td>
        </tr>
        <% matches.each do |match| %>
          <tr>
            <td class="start-time center">
              <% if match.finished? %>
                <%= t ".ft" %>
              <% elsif match.is_on? %>
                <%= t ".is_on" %>
              <% end %>
            </td>
            <td class="team1 right">
              <%= link_to match.team1.name, match.team1 %>
              <%= image_tag match.team1.logo.url, size: Settings.team.logo_size_tiny,
                class: "tiny-logo-with-team" %>
            </td>
            <td class="result center">
              <%= link_to match, class: "link-to-match" do %>
                <% if match.not_started_yet? %>
                  <%= match.start_time.strftime Settings.format.time24 %>
                <% else %>
                  <span class="goals-team1"><%= match.team1_goal %></span>-
                  <span class="goals-team2"><%= match.team2_goal %></span>
                <% end %>
              <% end %>
            <td class="team2">
              <%= image_tag match.team2.logo.url, size: Settings.team.logo_size_tiny,
                class: "tiny-logo-with-team" %>
              <%= link_to match.team2.name, match.team2 %>
            </td>
            <td class="action center">
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% else %>
    <div class="no-result"><%= t ".no_match" %></div>
  <% end %>
</div>
<div id="list-leagues-container">
  <%= render "leagues/leagues_list" %>
</div>
