<div id="banner">

</div>
<nav class="navbar navbar-inverse no-radius" data-spy="affix" data-offset-top="150" id="nav-header">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to root_path do %>
          <span class="glyphicon glyphicon-home"></span>
        <% end %>
      </li>
      <li><%= link_to "News", news_index_path %></li>
      <li><%= link_to "League", "#" %></li>
      <li><%= link_to "Teams", teams_path %></li>
      <li><%= link_to "Players", players_path %></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <% if user_signed_in? %>
        <li>
          <a href="">
            <%= image_tag Settings.image.coin, size: Settings.image.coin_size %>
            <span id="user-coin"><%= current_user.coin %></span>
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag current_user.avatar.url, id: "avatar-on-nav" %>
            <%= current_user.name %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t(".profile"), current_user %></li>
            <li><%= link_to t(".settings"), edit_user_registration_path %></li>
            <li class="divider"></li>
            <li><%= link_to t(".logout"), destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li>
          <%= link_to new_user_registration_path do %>
            <span class="glyphicon glyphicon-user"></span><%= t ".sign_up" %>
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
            <span class="glyphicon glyphicon-log-in"></span> <%= t ".login" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
