<div id="banner">

</div>
<nav class="navbar navbar-inverse no-radius" id="nav-header">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to root_path do %>
          <span class="glyphicon glyphicon-home"></span>
        <% end %>
      </li>
      <li><%= link_to "News", news_index_path %></li>
      <li><%= link_to "League", "#" %></li>
      <li><%= link_to "Teams", teams_path %></li>
      <li><%= link_to "Players", players_path %></li>
      <li><%= link_to "Admin", admin_root_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag current_user.avatar.url, id: "avatar-on-nav" %>
            <%= current_user.name %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t(".profile"), current_user %></li>
            <li><%= link_to t(".settings"), edit_user_registration_path %></li>
            <li class="divider"></li>
            <li><%= link_to t(".logout"), destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li>
          <%= link_to new_user_registration_path do %>
            <span class="glyphicon glyphicon-user"></span><%= t ".sign_up" %>
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
            <span class="glyphicon glyphicon-log-in"></span> <%= t ".login" %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= search_form_for News.search, as: :news_search, class: "navbar-form navbar-right" do |f| %>
      <div class="input-group">
        <%= f.search_field :title_or_content_or_brief_description_cont, class: "form-control",
          placeholder: t(".search_news") %>
        <span class="input-group-btn">
          <%= f.button class: "btn btn-default no-radius" do %>
            <span class="glyphicon glyphicon-search"></span>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
</nav>
