<div id="banner">

</div>
<nav class="navbar navbar-inverse no-radius" id="nav-header">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to root_path do %>
          <span class="glyphicon glyphicon-home"></span>
        <% end %>
      </li>
      <li><%= link_to t("layouts.news"), news_index_path %></li>
      <li><%= link_to t("layouts.countries"), countries_path %></li>
      <li class="dropdown dropdown-large">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t ".leagues" %><b class="caret"></b></a>

        <ul class="dropdown-menu dropdown-menu-large row">
          <% @countries_have_leagues.each_with_index do |country, index| %>
            <% if index > 0 && index % 4 == 0 %>
              <div class="clearfix"></div>
              <hr>
            <% end %>
            <li class="col-sm-6">
              <ul>
                <li class="dropdown-header"><%= country.name %></li>
                <% country.leagues.each do |league| %>
                  <li>
                    <%= link_to league.name, league %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </li>
      <li><%= link_to t(".schedule"), daily_schedules_path %></li>
      <li><%= link_to t("layouts.teams"), teams_path %></li>
      <li><%= link_to t("layouts.players"), players_path %></li>
      <% if user_signed_in? && (current_user.admin? || current_user.moderate?) %>
        <li>
          <%= link_to admin_root_path do %>
            <i class="glyphicon glyphicon-user"></i>
            <span><%= t ".manage" %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag current_user.avatar.url, id: "avatar-on-nav" %>
            <%= current_user.name %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t(".profile"), current_user %></li>
            <li><%= link_to t(".settings"), edit_user_registration_path %></li>
            <li class="divider"></li>
            <li><%= link_to t(".logout"), destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li>
          <%= link_to new_user_registration_path do %>
            <span class="glyphicon glyphicon-user"></span><%= t ".sign_up" %>
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
            <span class="glyphicon glyphicon-log-in"></span> <%= t ".login" %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= search_form_for News.search, as: :news_search, class: "navbar-form navbar-right" do |f| %>
      <div class="input-group">
        <%= f.search_field :title_or_content_or_brief_description_cont, class: "form-control",
          placeholder: t(".search_news") %>
        <span class="input-group-btn">
          <%= f.button class: "btn btn-default no-radius" do %>
            <span class="glyphicon glyphicon-search"></span>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
</nav>
